@import "@fontsource/roboto-condensed/400.css";
@import "@fontsource/share-tech-mono/400.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --primary: 61, 195, 126;
  --secondary: 250, 243, 178;
  --tertiary: 244, 124, 152;
  --background: 27, 30, 40;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: rgb(var(--secondary));
  transition: color 0.3s;

  &:hover {
    color: rgb(var(--tertiary));
  }
}

pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech Mono", monospace;
}

.monospace {
  font-family: "Share Tech Mono", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
