@import "@fontsource/roboto-condensed/400.css";
@import "@fontsource/share-tech-mono/400.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 226.15, 19.4%, 13.14%;
    --foreground: 0 0% 98%;

    --card: 226.15, 19.4%, 5%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 149.1, 52.76%, 10%;
    --primary-foreground: 149.1, 52.76%, 50.2%;

    --secondary: 54.17, 87.8%, 83.92%;
    --secondary-foreground: 149.1, 52.76%, 10%;

    --tertiary: 346, 84.51%, 72.16%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 54.17, 87.8%, 83.92%;
    --accent-foreground: 54.17, 87.8%, 83.92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 226.15, 19.4%, 10%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html.sr .load-hidden {
    visibility: hidden;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Roboto Condensed", sans-serif;
  }

  a {
    color: hsl(var(--secondary));
    transition: color 0.3s;

    &:hover {
      color: hsl(var(--tertiary));
    }
  }

  pre,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Share Tech Mono", monospace;
  }

  .monospace {
    font-family: "Share Tech Mono", monospace;
  }

  .blog-post,
  .project {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;

    h3 {
      font-size: 2em;
      margin: 0.5em 0;
      color: hsl(var(--primary-foreground));
    }

    p,
    li {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    p {
      margin: 1em 0;
    }

    li {
      list-style: disc inside;
      margin: 0.3em 0;
    }

    img {
      margin: 1.5em auto;
    }

    code {
      font-size: 0.9em;
      background-color: hsl(var(--card));
      padding: 0.2em 0.4em;
      border-radius: 0.4em;
      font-family: "Share Tech Mono", monospace;
    }

    pre {
      margin: 1.5em 0;
      padding: 1em 1.5em;
      font-size: 1.1em;
      line-height: 1.5rem;
      border-radius: 0.5em;
      background-color: hsl(var(--card));
      white-space: pre-wrap;
      overflow-x: auto;

      code {
        padding: 0;
      }
    }

    table {
      border-radius: 0.5em;
      background-color: hsl(var(--card));
      width: 100%;

      th {
        border-bottom: 0.1em solid hsl(var(--card));
      }

      th,
      td {
        padding: 0.5em 1em;
      }
    }
  }
}
